/* .conatainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
} */
.image {
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.image img {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease-in-out;
}

.image:hover img {
  transform: scale(-1.9);
  background-image: url('img/devil1.jpg');
}
